This is plan to rebuild the mod entirely. It is a destructive major change. Migration is not needed.
Do not remove source code of the app Messenger and StardewSocial until I tell you to. I want to keep it for now for reference during rework. It will be cleared when moving done.

Smartphone-Framework
- remove migration code to rename savefoldername and conver png to jpg. no longer needed
- app Messenger and Stardew Social (SS) will be rebuild from ground up as a seperated app from the base smartphone framework.
- core app will stay: notification, appstore, camera, photo, settingg, calendar
- app will be register to smartphone through API, currently already exist and working.
- player captured photo will be save to /Smartphone-Framework/userdata/savefolder/photo_player. all captured image now use random id for the name insead of location time ... for. all other photo folder (/player_avatar, /shared_photo will be removed and no longer used
- new API for StardewSocial (SS) to programmatically capture photo for NPC. this API will take all parameter to capture npc photo as definded in CaptureNpcPhoto(GameLocation targetLocation, Vector2 captureCenter, NPC npc = null, bool landscape = false, bool square = false, List<NPC>? visibleNpcAtTarget = null, float zoomLevel = 1f, int? captureTimeOfDay = null), plus a new variable called saveLocation. when saveLocation is not null, it will save to that path and return the tag string. else it will be save to /photo_player, add the tag to the image_metadata (see below), and return the tag string.
- new API to get the list of player photo and texture. the purpose is other app can request and display images
- imageTags is removed. new JSON file image_metadata will be used instead. image name is now a random id. each image will be linked to a metadata under image_metadata[l (location), ts (in game time like 6:00PM, Day 5 spring year 1), and tag (the tag for the image)

Smartphone-AppMessenger
- under Smartphone-AppMessenger folder. this is a new repo for the app, totally seperated from the framework
- player can send message and photo to NPC normally. player can request the Smartphone framework image api to get the photos and attach it. the conversation will be save to /Smartphone-AppMessenger/userdata/savefoldername/npc_conversation. attached images and its tag will be path directly from /Smartphone-Framework/userdata/savefolder/photo_player and /image_metadata
- player can send message and photo to other player. when messages or photo is send it get saved right away into /Smartphone-AppMessenger/userdata/savefoldername/player_conversation, which is different from npc conversation that only get saved when day end. attached images will be copy from /Smartphone-Framework/userdata/savefolder/photo_player to /Smartphone-AppMessenger/userdata/savefoldername/photo_shared and sync to the other receiver. the /player_conversation.json will reference this local image path. tag are not copied to nor sync. player dont need tag
- IMPORTANT: any data or image transfer must go though a buffer logic similar to what currently have to prevent overflow which will kick farmhand out
- since P2P message and photo transfer is write to disk right away, an OnConnect sync is not needed for AppMessenger

Smartphone-AppStardewSocial
- under Smartphone-AppStardewSocial folder. this is a new repo for the app, totally seperated from the framework
- posts and stardew social data will be save under /Smartphone-AppStardewSocial/userdata/savefolder/...
- when create NPC post, it call to SM framework api to capture a photo and tell it to save to /Smartphone-AppStardewSocial/userdata/savefolder/photo_temp. when it time to publish the post, it will be move into /photo_shared, and sync to all connected farmhand. the post when create with these photo will have the path ref directly to it
- when player create post, save it in the same JSON file for stardew_social_posts. if they attach images, which com from /Smartphone-Framework/userdata/savefolder/photo_player, it will be copied to /Smartphone-AppStardewSocial/userdata/savefolder/photo_shared to be sync to all other player
- when farmhand create post or comment, post text and photo will be transfer to the host machine. the host will update the data and boardcast it back to all connected player. the host machine will hold everything related to SS. the farmhand only receive a replica to display on their machine, which the code currently have
- when farmhand is connected to the game, it will request data update from the host. as the current code has, it will list every photo it currently have in /photo_shared and send the list to the host. the host will check if it missing or having any stale photos and send it back, along with the updated posts and post related data..
- when player select an image to be avatar, it will be copy from SM framework photo_player to SS folder player_avatar with playername_avatar. and this will be send to the host and broadcast it to all player similarly
- IMPORTANT: anyd data or image transfer must go though a buffer logic similar to what currently have to prevent overflow which will kick farmhand out


Other common housekeeping needed:
- all data file name will use underscore instead of camelCase.
- HelperAI folder contain shared method that both current app Messenger and StardewSocial call to. so it would need to be replicate on the new repo
- config option need to move as well
- some api in /Api/iSmartphoneApi are to interact with app messenger or SS like create new message, create new post,... it need to move as well
- before finish, always run build no deployment to confirm the code can compile without error